alabaster==0.7.12
argon2-cffi @ file:///home/conda/feedstock_root/build_artifacts/argon2-cffi_1640817743617/work
argon2-cffi-bindings @ file:///D:/bld/argon2-cffi-bindings_1649500457695/work
arrow @ file:///home/conda/feedstock_root/build_artifacts/arrow_1643313750486/work
asgiref==3.5.2
astroid @ file:///D:/bld/astroid_1655142377488/work
asttokens @ file:///home/conda/feedstock_root/build_artifacts/asttokens_1618968359944/work
atomicwrites @ file:///home/conda/feedstock_root/build_artifacts/atomicwrites_1657325823582/work
attrs @ file:///home/conda/feedstock_root/build_artifacts/attrs_1640799537051/work
autopep8 @ file:///home/conda/feedstock_root/build_artifacts/autopep8_1635267974115/work
Babel @ file:///home/conda/feedstock_root/build_artifacts/babel_1655419414885/work
backcall @ file:///home/conda/feedstock_root/build_artifacts/backcall_1592338393461/work
backports.functools-lru-cache @ file:///home/conda/feedstock_root/build_artifacts/backports.functools_lru_cache_1618230623929/work
backports.zoneinfo==0.2.1
bcrypt @ file:///D:/bld/bcrypt_1651441731550/work
beautifulsoup4 @ file:///home/conda/feedstock_root/build_artifacts/beautifulsoup4_1649463573192/work
binaryornot==0.4.4
black @ file:///home/conda/feedstock_root/build_artifacts/black-recipe_1656424001314/work
bleach @ file:///home/conda/feedstock_root/build_artifacts/bleach_1656355450470/work
brotlipy @ file:///D:/bld/brotlipy_1648854320485/work
certifi==2022.6.15
cffi @ file:///D:/bld/cffi_1656782950753/work
chardet @ file:///D:/bld/chardet_1656142166095/work
charset-normalizer @ file:///home/conda/feedstock_root/build_artifacts/charset-normalizer_1655906222726/work
click @ file:///D:/bld/click_1651215448481/work
cloudpickle @ file:///home/conda/feedstock_root/build_artifacts/cloudpickle_1653061851209/work
colorama @ file:///home/conda/feedstock_root/build_artifacts/colorama_1655412516417/work
cookiecutter @ file:///home/conda/feedstock_root/build_artifacts/cookiecutter_1654122127219/work
cryptography @ file:///D:/bld/cryptography_1657174149370/work
cycler==0.11.0
dataclasses @ file:///home/conda/feedstock_root/build_artifacts/dataclasses_1628958434797/work
debugpy @ file:///D:/bld/debugpy_1649586564473/work
decorator @ file:///home/conda/feedstock_root/build_artifacts/decorator_1641555617451/work
defusedxml @ file:///home/conda/feedstock_root/build_artifacts/defusedxml_1615232257335/work
diff-match-patch @ file:///home/conda/feedstock_root/build_artifacts/diff-match-patch_1594679019945/work
dill @ file:///home/conda/feedstock_root/build_artifacts/dill_1653058582944/work
Django==4.0.6
docutils @ file:///D:/bld/docutils_1648737817658/work
entrypoints @ file:///home/conda/feedstock_root/build_artifacts/entrypoints_1643888246732/work
executing @ file:///home/conda/feedstock_root/build_artifacts/executing_1646044401614/work
ez-setup==0.9
fastjsonschema @ file:///home/conda/feedstock_root/build_artifacts/python-fastjsonschema_1641751198313/work/dist
flake8 @ file:///home/conda/feedstock_root/build_artifacts/flake8_1646781084538/work
flit_core @ file:///home/conda/feedstock_root/build_artifacts/flit-core_1645629044586/work/source/flit_core
fonttools==4.34.4
idna @ file:///home/conda/feedstock_root/build_artifacts/idna_1642433548627/work
image==1.5.33
imagecodecs==2022.2.22
imageio==2.19.3
imagesize @ file:///home/conda/feedstock_root/build_artifacts/imagesize_1656939531508/work
importlib-metadata @ file:///D:/bld/importlib-metadata_1653252985644/work
importlib-resources @ file:///home/conda/feedstock_root/build_artifacts/importlib_resources_1655356668708/work
inflection @ file:///home/conda/feedstock_root/build_artifacts/inflection_1598089801258/work
inotify==0.2.10
intervaltree==3.0.2
ipykernel @ file:///D:/bld/ipykernel_1657295151080/work
ipyspin @ file:///home/conda/feedstock_root/build_artifacts/ipyspin_1610840932555/work
ipython @ file:///D:/bld/ipython_1653755022901/work
ipython-genutils==0.2.0
ipywidgets @ file:///home/conda/feedstock_root/build_artifacts/ipywidgets_1655973868664/work
isort @ file:///home/conda/feedstock_root/build_artifacts/isort_1636447814597/work
jedi @ file:///D:/bld/jedi_1649067326950/work
jellyfish @ file:///D:/bld/jellyfish_1649404920061/work
Jinja2 @ file:///home/conda/feedstock_root/build_artifacts/jinja2_1654302431367/work
jinja2-time @ file:///home/conda/feedstock_root/build_artifacts/jinja2-time_1646750632133/work
jsonschema @ file:///home/conda/feedstock_root/build_artifacts/jsonschema-meta_1657629641118/work
jupyter-client @ file:///home/conda/feedstock_root/build_artifacts/jupyter_client_1654730843242/work
jupyter-core @ file:///D:/bld/jupyter_core_1652365473010/work
jupyterlab-pygments @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_pygments_1649936611996/work
jupyterlab-widgets @ file:///home/conda/feedstock_root/build_artifacts/jupyterlab_widgets_1655961217661/work
keyboard==0.13.5
keyring @ file:///D:/bld/keyring_1654716258912/work
kiwisolver==1.4.3
lazy-object-proxy @ file:///D:/bld/lazy-object-proxy_1649033346507/work
MarkupSafe @ file:///D:/bld/markupsafe_1648737751065/work
matplotlib==3.4.0
mccabe==0.6.1
mistune @ file:///D:/bld/mistune_1635844874781/work
mypy-extensions @ file:///D:/bld/mypy_extensions_1649013491274/work
nbclient @ file:///home/conda/feedstock_root/build_artifacts/nbclient_1656688109017/work
nbconvert @ file:///home/conda/feedstock_root/build_artifacts/nbconvert-meta_1649676641343/work
nbformat @ file:///home/conda/feedstock_root/build_artifacts/nbformat_1651607001005/work
nest-asyncio @ file:///home/conda/feedstock_root/build_artifacts/nest-asyncio_1648959695634/work
networkx==2.8.4
nose==1.3.7
notebook @ file:///home/conda/feedstock_root/build_artifacts/notebook_1654636967533/work
numpy==1.23.1
numpydoc @ file:///home/conda/feedstock_root/build_artifacts/numpydoc_1648619272706/work
opencv-python==4.6.0.66
packaging @ file:///home/conda/feedstock_root/build_artifacts/packaging_1637239678211/work
pandocfilters @ file:///home/conda/feedstock_root/build_artifacts/pandocfilters_1631603243851/work
paramiko @ file:///home/conda/feedstock_root/build_artifacts/paramiko_1652792654356/work
parso @ file:///home/conda/feedstock_root/build_artifacts/parso_1638334955874/work
pathspec @ file:///home/conda/feedstock_root/build_artifacts/pathspec_1626613672358/work
pexpect @ file:///home/conda/feedstock_root/build_artifacts/pexpect_1602535608087/work
pickleshare @ file:///home/conda/feedstock_root/build_artifacts/pickleshare_1602536217715/work
Pillow==9.2.0
platformdirs @ file:///home/conda/feedstock_root/build_artifacts/platformdirs_1645298319244/work
pluggy @ file:///D:/bld/pluggy_1648773152532/work
prometheus-client @ file:///home/conda/feedstock_root/build_artifacts/prometheus_client_1649447152425/work
prompt-toolkit @ file:///home/conda/feedstock_root/build_artifacts/prompt-toolkit_1656332401605/work
psutil @ file:///D:/bld/psutil_1653089356250/work
ptyprocess @ file:///home/conda/feedstock_root/build_artifacts/ptyprocess_1609419310487/work/dist/ptyprocess-0.7.0-py2.py3-none-any.whl
pure-eval @ file:///home/conda/feedstock_root/build_artifacts/pure_eval_1642875951954/work
pycodestyle @ file:///home/conda/feedstock_root/build_artifacts/pycodestyle_1633982426610/work
pycparser @ file:///home/conda/feedstock_root/build_artifacts/pycparser_1636257122734/work
pydocstyle @ file:///home/conda/feedstock_root/build_artifacts/pydocstyle_1621377123289/work
pyflakes @ file:///home/conda/feedstock_root/build_artifacts/pyflakes_1633634815271/work
Pygments @ file:///home/conda/feedstock_root/build_artifacts/pygments_1650904496387/work
pylint @ file:///home/conda/feedstock_root/build_artifacts/pylint_1656525428196/work
pyls-spyder @ file:///home/conda/feedstock_root/build_artifacts/pyls-spyder_1619747398504/work
PyNaCl @ file:///D:/bld/pynacl_1649520143007/work
pyOpenSSL @ file:///home/conda/feedstock_root/build_artifacts/pyopenssl_1643496850550/work
pyparsing @ file:///home/conda/feedstock_root/build_artifacts/pyparsing_1652235407899/work
PyQt5==5.12.3
PyQt5_sip==4.19.18
PyQtChart==5.12
PyQtWebEngine==5.12.1
pyrsistent @ file:///D:/bld/pyrsistent_1649013505682/work
PySocks @ file:///D:/bld/pysocks_1648857453381/work
python-dateutil @ file:///home/conda/feedstock_root/build_artifacts/python-dateutil_1626286286081/work
python-lsp-black @ file:///home/conda/feedstock_root/build_artifacts/python-lsp-black_1643602007592/work
python-lsp-jsonrpc @ file:///home/conda/feedstock_root/build_artifacts/python-lsp-jsonrpc_1618530352985/work
python-lsp-server @ file:///home/conda/feedstock_root/build_artifacts/python-lsp-server_1639432612016/work
python-slugify @ file:///home/conda/feedstock_root/build_artifacts/python-slugify_1651150815876/work
pytoolconfig @ file:///home/conda/feedstock_root/build_artifacts/pytoolconfig_1656898078212/work
pytz @ file:///home/conda/feedstock_root/build_artifacts/pytz_1647961439546/work
PyWavelets==1.3.0
pywin32==303
pywin32-ctypes @ file:///D:/bld/pywin32-ctypes_1648607921806/work
pywinpty @ file:///D:/bld/pywinpty_1657201569555/work/target/wheels/pywinpty-2.0.6-cp38-none-win_amd64.whl
PyYAML @ file:///D:/bld/pyyaml_1648757284286/work
pyzmq @ file:///D:/bld/pyzmq_1656183679173/work
QDarkStyle @ file:///home/conda/feedstock_root/build_artifacts/qdarkstyle_1617328841504/work
qstylizer @ file:///home/conda/feedstock_root/build_artifacts/qstylizer_1627619480283/work/dist/qstylizer-0.2.1-py2.py3-none-any.whl
QtAwesome @ file:///home/conda/feedstock_root/build_artifacts/qtawesome_1638212842953/work
qtconsole @ file:///home/conda/feedstock_root/build_artifacts/qtconsole_1639432716385/work
QtPy @ file:///home/conda/feedstock_root/build_artifacts/qtpy_1651524593465/work
requests @ file:///home/conda/feedstock_root/build_artifacts/requests_1656534056640/work
rope @ file:///home/conda/feedstock_root/build_artifacts/rope_1656025934395/work
Rtree @ file:///D:/bld/rtree_1649367802780/work
scikit-image==0.19.3
scipy==1.8.1
Send2Trash @ file:///home/conda/feedstock_root/build_artifacts/send2trash_1628511208346/work
six @ file:///home/conda/feedstock_root/build_artifacts/six_1620240208055/work
snowballstemmer @ file:///home/conda/feedstock_root/build_artifacts/snowballstemmer_1637143057757/work
sortedcontainers @ file:///home/conda/feedstock_root/build_artifacts/sortedcontainers_1621217038088/work
soupsieve @ file:///home/conda/feedstock_root/build_artifacts/soupsieve_1638550740809/work
Sphinx @ file:///home/conda/feedstock_root/build_artifacts/sphinx_1655452194084/work
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-htmlhelp_1621704829796/work
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml @ file:///home/conda/feedstock_root/build_artifacts/sphinxcontrib-serializinghtml_1649380998999/work
spinnaker-python @ file:///C:/Users/nerea/anaconda3/envs/SensUs_2022/Lib/site-packages/spinnaker_python-2.7.0.128-cp38-cp38-win_amd64.whl
spyder @ file:///D:/bld/spyder_1640813612337/work
spyder-kernels @ file:///D:/bld/spyder-kernels_1642109407894/work
sqlparse==0.4.2
stack-data @ file:///home/conda/feedstock_root/build_artifacts/stack_data_1655315839047/work
terminado @ file:///D:/bld/terminado_1652790770644/work
text-unidecode==1.3
textdistance @ file:///home/conda/feedstock_root/build_artifacts/textdistance_1656524865407/work
three-merge @ file:///home/conda/feedstock_root/build_artifacts/three-merge_1595515817927/work
tifffile==2022.5.4
tinycss2 @ file:///home/conda/feedstock_root/build_artifacts/tinycss2_1637612658783/work
tk==0.1.0
toml @ file:///home/conda/feedstock_root/build_artifacts/toml_1604308577558/work
tomli @ file:///home/conda/feedstock_root/build_artifacts/tomli_1644342247877/work
tomlkit @ file:///home/conda/feedstock_root/build_artifacts/tomlkit_1657178191936/work
tornado @ file:///D:/bld/tornado_1656937958156/work
traitlets @ file:///home/conda/feedstock_root/build_artifacts/traitlets_1655411388954/work
typed-ast @ file:///D:/bld/typed-ast_1653226273066/work
typing_extensions @ file:///home/conda/feedstock_root/build_artifacts/typing_extensions_1656706066251/work
tzdata==2022.1
ujson @ file:///D:/bld/ujson_1653057556708/work
Unidecode @ file:///home/conda/feedstock_root/build_artifacts/unidecode_1646918762405/work
urllib3 @ file:///home/conda/feedstock_root/build_artifacts/urllib3_1657224465922/work
watchdog @ file:///D:/bld/watchdog_1654901159049/work
wcwidth @ file:///home/conda/feedstock_root/build_artifacts/wcwidth_1600965781394/work
webencodings==0.5.1
widgetsnbextension @ file:///home/conda/feedstock_root/build_artifacts/widgetsnbextension_1655939017940/work
win-inet-pton @ file:///D:/bld/win_inet_pton_1648771891747/work
wrapt @ file:///D:/bld/wrapt_1651495421585/work
yapf @ file:///home/conda/feedstock_root/build_artifacts/yapf_1641487982943/work
zipp @ file:///home/conda/feedstock_root/build_artifacts/zipp_1649012893348/work
